@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

.ant-table table { font-size: 12px; }

/* Hide scrollbars on all elements */
.hidden-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


.page-break {
  page-break-before: always;
}

@media print {
  @page {
    margin: 1cm;
  }

  .print-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3da0e3;
    color: white;
  }

  .print-table {
    font-size: 11px;
  }

  .print-table tr td {
    padding: 2px 0 !important;
  }
}